.app_blue_theme {
    --bg-color: #5e69ee;
    --inverted-bg-color: #f4f4fb;
    --primary-color: #f4f4fb;
    --secondary-color: #5e69ee;
    --inverted-primary-color: #5e69ee;
    --inverted-secondary-color: #f4f4fb;
}
